.player-button-container {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
}
.player-button {
  width: 15px;
  height: 15px;
  font-size: medium;
  color: white;
}
.player-flex {
  flex-direction: column;
  display: flex;
}
.video-container {
  width: 100%;
  height: 100%;
}
.player-buttons-block {
  position: relative;
  background-color: black;
}
.player-shadow {
  box-shadow: 5px 5px 5px 5px gray;
}
.player-align-right {
  position: absolute;
  right: 0;
}