.button-container {
  border-style: none;
  cursor: pointer;
  background-color: transparent;
  margin: 5px;
  padding: 5px;
}
.player-button {
  width: 15px;
  height: 15px;
  font-size: medium;
  color: white;
}
.styled-player {
  flex-direction: column;
  display: flex;
}
.video-container {
  width: 100%;
  height: 100%;
}
.buttons-block {
  position: relative;
  background-color: black;
}
.progress-slider {
  cursor: pointer;
}
.shadow {
  box-shadow: 5px 5px 5px 5px gray;
}
.progress-bar {
  cursor: pointer;
  background-color: black;
}
.align-right {
  position: absolute;
  right: 0;
}
.progress-timer {
  color: white;
  margin-left: 10px;
}